.nav{
    background-color: lightgray;
    flex-basis: 15%;
    flex-grow: 0;
    height: 90vh;
    border-radius: 20px 0 0 20px;
}
.nav li{
  list-style: none;
}

.item{
  padding:0;
  margin: 10px auto;
  width: fit-content;
  list-style: none;
}
.unactive{
  border: 3px solid #eceded;
}
.link .active{
  position: absolute;
  transform: translateX(-40px);
  opacity:0;
  border: 3px solid #84beaf;
  transition: 0.2s;
}
.link .active:hover{
  opacity: 0.8;
}
.item .link.active .active{
  
  transform: translateX(-40px);
  border-color: #84beaf;
  opacity: 1;
}
.item .link.active .unactive{
  opacity: 0;
}